@import "tailwindcss";


body {
    background-color: rgba(128, 128, 128, 0.155);
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}


